.App {
  text-align: center;
}
.button {padding-right: 10px}
.navbar {
  margin-top: auto;
  background-color: #252525;
  box-shadow: 5px 10px 10px #111111;
  z-index: 5;
}
.jumbotron {
  background-color: #252525;
  box-shadow: 5px 10px 10px #111111;

}
#freepik {
  font-size: 10px;
  position: relative;
  right: 0px;
  bottom: 0px;
}
#trainerSU {
  position: relative;
  left: -210px;
  bottom: -10px;
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}
