.App {
  text-align: center;
}
.container{
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

#top-filler {
  margin-bottom: auto;
}
.card { 
  max-width: 300px;
  min-height: 300px;
  float: right;
  margin: 15px;
}

